body {
    background-color: #00002c;
    color: white;
}

.navbar {
    background-color: #00002c;
}

.btn-tag {
    text-transform: capitalize !important;
    margin-bottom: 10px;
    color: #eeff04;
    font-weight: bold;
}

.value {
    color: #eeff04;
    font-size:large;
    font-weight: bold;
    
}

.key {
    color: #8773e4;
    font-size: medium;
    font-weight: 600;
}

.header {
    color: #8773e4;
    font-size:larger;
    font-weight: 800;
}