.btn-tag {
    margin-bottom: 8px;
    margin-right: 6px;
    font-weight: bold;
}

.value {
    font-size: larger;
    font-weight: bolder;

}

.key {
    font-size: larger;
    font-weight: 500;
}

.header {
    font-size: larger;
    font-weight: 600;
}
